@import '../../scss/core/mixins';
@import '../../scss/core/vars';

.services {
  margin-top: -95px;
  position: relative;

  &::before {
    content: url('../../public/images/shape_1.png');
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 0;
  }
  &::after {
    content: url('../../public/images/shape_2.png');
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .container{
    position: relative;
    z-index: 1;
  }

  .col-lg-3{
    @include breakpoint(xl) {
      margin-bottom: 24px;
    }
  }

  .card {
    border-radius: 24px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: none;
    -webkit-box-shadow: 0 4px 8px 0 rgba($colorBlack, 0.3);
    -moz-box-shadow: 0 4px 8px 0 rgba($colorBlack, 0.3);
    box-shadow: 0 4px 8px 0 rgba($colorBlack, 0.3);

    .card-body {
      padding: 0;
    }

    .button {
      margin-top: 16px;
    }

    img {
      width: 45px;
    }

    h2 {
      color: $colorBlack;
      font-size: 16px;
      font-weight: 700;
      margin: 12px 0 0 0;
    }

    p {
      margin: 16px 0 0 0;
      padding: 0;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
