@import '../core/mixins';
@import '../core/vars';

.header {
  max-height: 85px;
  background-color: transparentize($color: $colorWhite, $amount: 0.5);
  transition: all ease 0.3s;
  -webkit-box-shadow: 1px 1px 20px -4px rgba($colorBlack, 0);
  -moz-box-shadow: 1px 1px 20px -4px rgba($colorBlack, 0);
  box-shadow: 1px 1px 20px -4px rgba($colorBlack, 0);

  @include breakpoint(lg) {
    background-color: $colorWhite;
    max-height: none;

    .navbar-toggler {
      border: none;
      padding: 0;
      box-shadow: none;

      svg {
        width: 30px;
      }
    }

    .menuContainer {
      background-color: $colorWhite;
      padding: 24px 16px;
    }
  }

  &.scrolling {
    background-color: $colorWhite;
    -webkit-box-shadow: 1px 1px 20px -4px rgba($colorBlack, 0.5);
    -moz-box-shadow: 1px 1px 20px -4px rgba($colorBlack, 0.5);
    box-shadow: 1px 1px 20px -4px rgba($colorBlack, 0.5);
  }

  .navbar {
    max-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(lg) {
      background-color: $colorWhite;
      max-height: none;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(lg) {
      align-items: flex-start;
    }

    li {
      margin: 0 0 0 20px;

      @include breakpoint(lg) {
        margin: 0 0 16px 0;
      }

      &:first-child {
        margin-left: 0;
      }

      .nav-link {
        color: $colorBlack;
        position: relative;
        padding: 0;
        font-size: 16px;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: transparent;
          transition: all ease 0.3s;
        }

        &:hover {
          &::after {
            background-color: $colorBlack;
            width: 100%;
            left: 0;
          }
        }
      }

      &.button {
        .nav-link {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .navbar-brand {
    max-width: 144px;
    margin: 0;
    padding: 0;
  }
}
