.page-template-model-services {

  .services {
    padding: 140px 0;

    @include breakpoint(lg) {
      padding: 80px 0;
    }

    .title {
      margin-bottom: 70px;

      @include breakpoint(lg) {
        margin-bottom: 40px;
      }
    }
  }

  .grid-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    transition: all ease 0.3s;

    @include breakpoint(lg) {
      grid-template-columns: 1fr;
    }

    .grid-card {
      height: 100%;
      min-height: 350px;
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 100% auto;
      padding: 40px;
      display: flex;
      align-items: flex-end;
      position: relative;
      overflow: hidden;
      opacity: 0.4;
      transition: all ease 0.3s;
      text-decoration: none;

      &.active, &:hover {
        opacity: 1;
      }

      @include breakpoint(lg) {
        min-height: 190px;
      }


      &:nth-child(1) {
        background-color: $corePalette1;
        background-image: url("images/grid-card-001.png");

        .hide-content {
          background-color: $corePalette1;
        }
      }

      &:nth-child(2) {
        background-color: $corePalette4;
        background-image: url("images/grid-card-002.png");

        .hide-content {
          background-color: $corePalette4;
        }
      }

      &:nth-child(3) {
        background-color: $corePalette2;
        background-image: url("images/grid-card-003.png");

        .hide-content {
          background-color: $corePalette2;
        }
      }

      &:nth-child(4) {
        background-color: $corePalette3;
        background-image: url("images/grid-card-004.png");

        .hide-content {
          background-color: $corePalette3;
        }
      }

      &:nth-child(5) {
        background-color: $corePalette1;
        background-image: url("images/grid-card-005.png");

        .hide-content {
          background-color: $corePalette1;
        }
      }

      &:nth-child(6) {
        background-color: $corePalette4;
        background-image: url("images/grid-card-006.png");

        .hide-content {
          background-color: $corePalette4;
        }
      }

      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: $colorWhite;
        word-break: break-word;
      }

    }
  }

  #tabbed-content {
    background-color: $corePalette5;
    height: 100%;
    padding: 50px 70px;

    @include breakpoint(lg) {
      padding: 40px 30px;
    }

    .tab-content {
      &.hidden {
        display: none;
      }

      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: $corePalette3;
        margin-bottom: 40px;
      }

      h4 {
        margin: 40px 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: $corePalette3;
      }
    }
  }
}
