@import "../core/mixins";
@import "../core/vars";

.page-template-model-contact {

  .offices {
    padding: 80px;
    background-color: $corePalette5;

    @include breakpoint(lg) {
      padding: 80px 0;
    }

    .title {
      margin-bottom: 70px;
    }

    .office {
      transition: all ease 0.3s;
      height: 260px;
      position: relative;
      overflow: hidden;

      .hide-content {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 2300px;
        left: 0;
        padding: 40px;
        transition: all ease 0.5s;
        display: flex;
        align-items: flex-end;
        background-color: $corePalette3;

        p {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          display: flex;
          align-items: flex-end;
          color: $colorWhite;
          margin-bottom: 0;
          margin-top: 40px;
        }
      }

      &:hover {
        .hide-content {
          top: 0;
        }
      }

      .image-wrap {
        position: relative;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 260px;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba($corePalette3, 0.3);
          transition: all ease 0.3s;
        }

        img {
          display: none;
        }
      }

      &:hover {

        .image-wrap {
          &:before {
            background: rgba($corePalette3, 0);
          }
        }
      }
    }

    .name {
      font-weight: 800;
      font-size: 24px;
      line-height: 34px;
      color: $corePalette2;
      margin-top: 40px;
    }
  }

  .forms {

    .col {
      &:last-child {
        background-color: #f3f3ef;
      }
    }

    .wrapper {
      padding: 80px 40px;

      @include breakpoint(lg) {
        padding: 80px 0;
      }

      .subtitle {
        color: $corePalette3;
      }

      .inner {
        margin-top: 50px;
        border: solid $corePalette3;
        border-width: 1px 1px 0 1px;

        input {
          border: solid $corePalette3;
          border-width: 0 0 1px 0;
          background-color: transparent;
          outline: none;
          padding: 10px;
          height: 70px;
          color: $corePalette3;
          font-size: 20px;
          border-radius: 0;

          &::placeholder {
            font-weight: 700;
            line-height: 34px;
            color: $corePalette3;
          }

          &:focus {
            box-shadow: none;
          }
        }

        textarea {
          border: solid $corePalette3;
          border-width: 0 0 1px 0;
          background-color: transparent;
          outline: none;
          padding: 10px;
          color: $corePalette3;
          font-size: 20px;
          border-radius: 0;

          &::placeholder {
            font-weight: 700;
            line-height: 34px;
            color: $corePalette3;
          }

          &:focus {
            box-shadow: none;
          }
        }
      }

      input[type=submit] {
        float: right;
      }

      button {
        border: none;
        background: transparent;
        width: 70px;
        height: 70px;
        transition: all ease 0.3s;

        svg {
          width: 16px;
          height: 19px;

          path {
            fill: $colorWhite;
            transition: all ease 0.3s;
          }
        }

        &:hover {
          background-color: $colorWhite;

          svg {
            path {
              fill: $corePalette3;
            }
          }
        }
      }

      .accordion {
        .accordion-header {
          border: solid $corePalette3;
          border-width: 0 0 1px 0;
        }

        .accordion-body {
          background-color: $corePalette3;
        }

        button {
          width: 100% !important;
          box-shadow: none !important;
          font-weight: 700;
          font-size: 20px;
          line-height: 34px;
          color: $corePalette3;

          &:after {
            background-image: url("images/arrow-down.svg");
          }
        }

        .wpcf7-list-item {
          width: 100%;
          margin: 0;
          background-color: $corePalette3;

          input[type=checkbox] {
            width: 28px;
            background-color: transparent;
            border: 1px solid $colorWhite;
          }

          label {
            background-color: $corePalette3;
            display: flex;
            align-items: center;

            span {
              font-weight: 700;
              font-size: 20px;
              line-height: 34px;
              color: $colorWhite;
              margin-left: 15px;

              &:before, &:after {
                display: none !important;
              }
            }
          }
        }
      }

      .wpcf7-acceptance {
        .wpcf7-list-item {
          margin: 0;

          label {
            display: flex;
            align-items: flex-start;
          }
        }

        input[type=checkbox] {
          width: 28px;
          background-color: transparent;
          border: 1px solid $colorWhite;
          margin-right: 15px;
        }

        .wpcf7-list-item-label {
          font-weight: 500;
          font-size: 9px;
          line-height: 12px;
          color: $corePalette3;
        }
      }
    }
  }
}