$corePalette1: #2E183C;
$corePalette2: #621D58;
$corePalette3: #9F134E;
$corePalette4: #F08556;
$corePalette5: #E4E0C5;
$colorText: #1E1E1C;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGray: #F5F5F5;
$fontDefault: 'Manrope', sans-serif;
$fontSupport: 'Open Sans', sans-serif;
